@charset "utf-8";
.container #nav {
    background-image: url(../images/cinta.png);
    height: 180px;
}
.col-8.d-flex.justify-content-center.align-items-center .nav.justify-content-center li {
    margin-right: 15px;
    margin-left: 41px;
    margin-bottom: 0;
    font-size: 16px;
	
}
.row .col .img-fluid {
    margin-top: 35px;
    margin-bottom: 35px;
}
.row .col-sm-6 .img-responsive {
    margin-top: 47px;
    margin-bottom: 21px;
}
.col-5 .row .col-sm-6.text-center {
    margin-top: 78px;
    margin-bottom: 69px;
}



.image-container {
    position: relative;
        }

.overlay-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color:#084FA6;
            text-align: center;
        }
        .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 104px; 
        }
        .button-container img {
            margin: 0 5px;
        }

#footer {
    height: 157px;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
    background-image: url(../images/cinta.png);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: auto;
    margin-right: -15px;
    margin-left: -15px;
}

#footer #text1,
#footer #text2 {
    font-family: Arial;
    color: white;
    margin: 0;
    padding: 10px;
}

#footer #text1 {
    flex: 1;
    text-align: left;
    font-size: 1rem;
}

#footer #text2 {
    flex: 1;
    text-align: right;
    margin-top: 30px;
}

#footer #iconos {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer #iconos img {
    margin: 0 15px;
}
.col.image-container .overlay-text.responsive-text h3 {
    color: #084FA6;
    margin-bottom: 18px;
}

.breadcrumb {
    background-color: transparent;
    padding-right: 11px;
    padding-left: 11px;
    padding-bottom: 11px;
    margin-right: 21px;
    margin-left: 21px;
    margin-top: -38px;
}
.row .col-sm-6 .text-center {
    margin-top: 12px;
	color:#084FA6;
	font-size: 15px;
}
.row .col-sm-6 .btn.btn-primary {
    margin-top: -134px;
}.col-5 .row .col-sm-6 {
    margin-top: 52px;
}
.row .col-sm-6 .img-responsive {
    margin-top: 3px;
}